@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #282323ef;
    font-family: 'Inconsolata', monospace;
    overflow-y: auto;
}


a,
a:hover,
a:focus,
form,
form:hover {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* Navbar */
.navbarlol {
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    display: flex;
    height: 9vh;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    box-shadow:
        0px 2px 3px #3ab1ad,
        -1px -2px 3px #3ab1ad;
    z-index: 5;
}

.right-nav {
    margin: 0;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.sign {
    display: flex;
    color: #00FFFF;
    flex-direction: col;
    justify-content: center;
    background-color: white;
}

.logo {
    padding: 0;
    height: 160%;
    margin: -5% 10%;
}

.Git {
    padding: 0;
    width: auto;
    height: 100%;
    margin-right: 10px;
}

.signIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #000000;
    padding: 10px 20px;
    font-weight: bolder;
    border-radius: 25px;
    text-decoration: none;
    background-color: #00FFFF;
    border: 3px solid #000000;
    font-family: 'Inconsolata', monospace;
    transition: background-color 0.3s, border-color 0.3s;
}

.sign:hover {
    color: #00FFFF;
    border-color: #000000;
    background-color: #000000;
}

/* Sidebar */
.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 4.5%;
}

#sidebar {
    width: 20%;
    background: #000000;
    color: #00FFFF;
    transition: all 0.3s;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.algos {
    font-family: 'Inconsolata', monospace;
    margin: 35px 0px 35px 0px;
    font-size: 2rcap;
    font-weight: bold;
    font-stretch: wider
}

#sidebar div ul div a {
    display: flex;
    justify-content: center;
    padding: 4px 0px 4px 0px;
    font-family: 'Inconsolata', monospace;
    font-size: larger;
    border-radius: 20px;
}

#sidebar div ul {
    padding: 5px 40px 5px 40px
}

#sidebar div form {
    display: flex;
    flex-direction: row;
    padding: 0px 30px 0px 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    font-size: large;
}

.CTAs p {
    padding: 3px 50px 3px 50px;
    font-size: large;
    background-color: #000000;
    color: #00FFFF;
    border-radius: 5px;
}

.CTAs p {
    border-radius: 10px;
}

.CTAs p a {
    font-weight: 900;
    font-size: medium;
}

.CTAs p a:hover {
    background-color: #00FFFF;
    color: #000000;
    padding: 5px;
    border-radius: 10px;

}


div ul [active="true"] {
    background: #00FFFF !important;
    color: #000000 !important;
}

/* Content */
#meta-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
}

#meta-content .table {
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: #00FFFF;
    color: #000000;
}

.header {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    color: #00FFFF;
    background: #000000;

}

.complex {
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #000000;
    color: #00FFFF;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.hcell {
    width: 10%;
    padding: 2px 5px 2px 5px;
    font-size: medium;
    font-weight: 400;
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

.cell {
    justify-content: center;
    padding: 2px 5px 2px 5px;
    display: flex;
    border: 3px solid black;
    width: 10%;
}

.chartHTML div {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    color: white;
    text-align: center;
    margin: 0.1%;
    transition: 0.1s;
    width: 2%;
    max-height: 450px;
    opacity: 0.8;
    border-radius: 100px;
    color: #00FFFF !important;
    display: flex;
    align-items: center;
    /* Center the text vertically */
    justify-content: center;
    /* Center the text horizontally */
}


.chartHTML {
    position: relative;
    padding: 0;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    height: 500px;
    /* Set a fixed height */
    overflow-y: auto;
    /* Enable scrolling if content overflows */
}

.chartSVG rect {
    fill: #00FFFF
}

.chartSVG rect:hover {
    fill: orange
}

.chartSvg text {
    fill: white;
    text-anchor: end;
}

.toggle-button {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    width: 100%;
    background-color: #00FFFF;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: 1px solid black;
    text-align: center;
}


/* Container for the content */
.content-container {
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    border-radius: 5px;
}

/* Content within the container */
.content {
    margin: 0;
}

/* When the container is active, set max-height to a large enough value to show content */
.content-container.active {
    max-height: 200px;
    /* Adjust based on content height */
}

.code-container {
    display: flex;
    flex-direction: row;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: yellow;
}

.complexity {
    background-color: green;
    border: 1px solid balck;
    width: 35%;
}

.program {
    width: 65%;
    background-color: red;
}



/* Footer styles */
.footer {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #00FFFF;
    background-color: rgb(0, 0, 0);
    height: 13%;
    width: 100%;
    box-shadow:
        -1px -2px 3px #3ab1ad,
        0px 2px 3px #3ab1ad;
    text-align: center;
}

.Intro {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #00FFFF;
    font-family: 'Inconsolata', monospace;
    font-size: medium;
}

.Intro>p {
    margin: 0;
    padding: 0;
}

.Intro :first-child {
    margin-top: 10px;
}

.footer-section>p {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    gap: 0;
    font-size: small;
}
